<div class="detail-cn">
	<div class="w1126">
		<div class="crumb">
			<span class="fs16">所有分类</span>
			> 共30件物品
		</div>
		<div class="detail-primary">
			<div class="primary-goods">
				<div class="goods-topimg">
					<div class="big-img">
						<img src="../../resource/img/big-img.jpg"/>
					</div>
					<ul class="small-img">
						<li class="tab-selected">
							<img src="../../resource/img/big-img.jpg"/>
						</li>
						<li>
							<img src="../../resource/img/good1.png"/>
						</li>
						<li>
							<img src="../../resource/img/big-img.jpg"/>
						</li>
					</ul>
				</div>
				<div class="goods-info">
					<h3>黑白情侣款 iphone手机壳</h3>
					<div class="goods-seller">
						<div class="head-portrait">
							<img src="../../resource/img/header.jpg"/>
						</div>
						<div class="head-info">
							<p>夏末的思念</p>
							<p>
								<span class="glyphicon glyphicon-time"></span>
								<sp>2016-01-12</sp>
								<span class="glyphicon glyphicon-eye-open ml10"></span>
								<sp>56</sp>
							</p>
						</div>
						<div class="head-heart">
							<span class="glyphicon glyphicon-heart" ng-class="{'active':turn}" ng-click="turn=!turn"></span>
						</div>
					</div>
					<div class="goods-prowrap">
						<div class="p-price">
							¥32.00
							<span class="label label-success">九成新</span>
							<span class="label label-info">可小刀</span>
						</div>
						<div class="p-des">
							<label class="pull-left">联系：</label>
							<p>在线聊一聊</p>
							<span class="pull-right pointer">-举报-</span>
						</div>
						<div class="p-des">
							<label class="pull-left">描述：</label>
							<p class="detail">【简约套装版】魅族魅蓝NOTE2！16GB白色移动联通双4G手机双卡双待是note2有发票！2015年11月买的</p>
						</div>
						<div class="p-des">
							<button type="button" class="btn btn-warning btn col-xs-3">立即购买</button>
							<p class="share">
								分享：
								<a class="javascript:;"> <i class="qzone"></i>
								</a>
								<a class="javascript:;"> <i class="weixin"></i>
								</a>
								<a class="javascript:;">
									<i class="weibo"></i>
								</a>
							</p>
						</div>
						<div class="p-des p-pay">
							<label class="pull-left">支付方式：</label>
							<p class="pay">
								<i class="zfb"></i>
								<i class="wx"></i>
							</p>
						</div>
					</div>
				</div>
				<div class="clearfix goods-box goods-detail">
					<h3>商品详情</h3>
					<div class="dl-cn">
						<div class="col-xs-6 group">
							<label class="col-xs-3">机子属性</label>
							<div class="col-xs-9 input-box">
								<p>水货无锁（非大陆行港行，其它地区。）,保修一个月以上</p>
							</div>
						</div>
						<div class="col-xs-6 group">
							<label class="col-xs-3">颜色</label>
							<div class="col-xs-9 input-box">
								<p>黑色</p>
							</div>
						</div>
						<div class="col-xs-6 group clearfix">
							<label class="col-xs-3">开机情况</label>
							<div class="col-xs-9 input-box">
								<p>正常</p>
							</div>
						</div>
						<div class="col-xs-6 group">
							<label class="col-xs-3">存储容量</label>
							<div class="col-xs-9 input-box">
								<p>16G</p>
							</div>
						</div>

					</div>
				</div>
				<div class="goods-box goods-message">
					<h3>留言</h3>
					<div class="message-me">
						<div class="col-xs-1">
							<div class="head-portrait">
								<img src="../../resource/img/header.jpg"/>
							</div>
						</div>
						<div class="col-xs-11">
							<textarea>d</textarea>
						</div>
						<button type="button" class="btn btn-success col-xs-1 pull-right">提交</button>
					</div>
					<div class="message-other">
						<div class="other-item">
							<div class="col-xs-1">
								<div class="head-portrait">
									<img src="../../resource/img/header.jpg"/>
								</div>
							</div>
							<div class="col-xs-9">
								<p class="item-name">小情绪</p>
								<p class="item-font">手机具体参数可以看一下吗？</p>
							</div>
							<div class="col-xs-2">
								<p>今天  18:50</p>
								<button type="button" class="btn btn-warning col-xs-5 btn-sm" ng-click="show=!show">回复</button>
							</div>
							<div class="clearfix"></div>
							<div class="message-me mt8 no-bb" ng-show="show">
								<div class="col-xs-1">
									<div class="head-portrait">
										<img src="../../resource/img/header.jpg"/>
									</div>
								</div>
								<div class="col-xs-9">
									<textarea></textarea>
								</div>
								<button type="button" class="btn btn-success col-xs-1 mt12 ml15">提交</button>
							</div>
						</div>
						<div class="m-pagination">
							<uib-pagination direction-links="false" first-text="首页" last-text="末页" boundary-links="true" total-items="totalItems" ng-model="currentPage"></uib-pagination>
						</div>
					</div>
				</div>
				<div class="goods-box goods-message">
					<h3>搜二鉴定</h3>
				</div>
			</div>
			<div class="primary-slide">
				<p class="title">
					<s></s>
					<span>推荐商品</span>
				</p>
				<div class="list">
					<ul>
						<li>
							<div class="list-pic">
								<img src="../../resource/img/big-img.jpg"/>
							</div>
							<p class="list-title">九成新,iphone6手机,64G国行</p>
							<p class="list-price">¥4800</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>